@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$white: #f8f8f8;
$dark: #4d4b4c;
$light: #7c7c7c;
$cream: #fbf7f0;
$red: #d45a5a;
$blue: #2d6187;
$green: #21bf73;
$azure: #d9e4dd;

$transition: all 0.2s ease-in-out;
$font-size-sm: 0.85rem;
$font-size-md: 1.1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;
$rounded: 0.5rem;
$shadow: 0 0.5rem 1rem rgba($dark, 0.55);
$fade: fadeIn 2s;

body {
	margin: 0;
	padding: 0;
	cursor: default;
	font-family: "Roboto", sans-serif;
	color: $dark;
	background-color: $azure;
}

.users_wrapper {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 1.5rem;
	padding: 1rem;
}

.no_users {
	text-align: center;
	margin-top: 2rem;
	font-size: $font-size-xl;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
