.user_posts-card {
	margin: 2rem 1rem;
	padding: 1rem;
	border-radius: $rounded;
	box-shadow: $shadow;
	background-color: $cream;
	animation: $fade;

	.user_posts-card_header {
		font-size: $font-size-xl;
		font-weight: 600;
		text-align: center;
		text-transform: capitalize;
	}

	.user_posts-card_body {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
		gap: 2rem;
		padding: 1rem;
	}

	.no_posts {
		text-align: center;
		margin: 1rem 0;
		font-size: $font-size-md;
	}
}
