.user-card {
	box-shadow: $shadow;
	color: $dark;
	background-color: $white;
	border-radius: $rounded;
	border-top: $blue solid 0.25rem;
	transition: $transition;
	animation: $fade;
	cursor: pointer;
	word-break: break-all;

	&.current {
		background-color: $cream;
		border-color: $green;
		transform: scale(1.05);
	}

	.user-card_header {
		display: flex;
		justify-content: space-between;
		padding-right: 0.25rem;
		.title_wrapper {
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			.title {
				font-size: $font-size-md;
				font-weight: 700;
			}
			.title_sub {
				color: $light;
				font-weight: 600;
			}
		}
		.action {
			font-size: $font-size-lg;
			transition: $transition;
			&:hover {
				color: $red;
			}
		}
	}

	.user-card_body {
		padding: 0.25rem 0.5rem;
		font-weight: 600;
		.item {
			padding: 0.25rem 0;
			.title {
				color: $light;
				font-size: $font-size-sm;
				text-transform: capitalize;
			}
			.content {
				display: inline-block;
				font-size: $font-size-sm;
				transition: $transition;
				&.coords {
					&:hover {
						color: $blue;
						transform: scale(1.025);
					}
				}
			}
		}
	}
}
