.map_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.leaflet-container {
	height: 50vh;
	border-radius: $rounded;
	width: 80%;
	border: 0.2rem solid $dark;
}
