.post-card {
	box-shadow: $shadow;
	border-radius: $rounded;
	background-color: $white;
	color: $dark;
	cursor: pointer;
	word-break: break-all;

	.post-card_header {
		display: flex;
		justify-content: space-between;
		padding: 0 0.25rem;
		border-bottom: $green solid 0.2rem;
		color: $dark;

		.title {
			font-size: $font-size-md;
			padding: 1rem 0.5rem;
			font-weight: 600;
		}
		.action {
			font-size: $font-size-lg;
			transition: $transition;

			&:hover {
				color: $red;
			}
		}
	}

	.post-card_body {
		padding: 1rem;
	}
}

.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}

.post_form-card {
	position: relative;
	padding: 1rem;
	border-radius: $rounded;
	width: 40%;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	animation: slideIn 1s forwards;

	.form-title {
		font-weight: 600;
		text-align: center;
		text-transform: capitalize;
	}

	.form-label {
		text-transform: capitalize;
		font-size: $font-size-sm;
		font-weight: 600;
	}
	.form-input {
		resize: none;
		padding: 0.5rem;
		color: $dark;
		font-family: inherit;
	}

	.form-btns {
		display: flex;
		justify-content: center;
		gap: 0.75rem;
		margin-top: 0.5rem;

		.form-btn {
			color: $white;
			border-radius: $rounded;
			padding: 0.5rem 1rem;
			outline: none;
			border: none;
			text-transform: capitalize;
			cursor: pointer;
			transition: $transition;

			&:hover {
				transform: scale(1.025);
			}

			&.cancel {
				background-color: $dark;
			}

			&.submit {
				background-color: $green;
			}

			&.disabled {
				background-color: rgba($green, 0.7);
			}
		}
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(400px);
	}
	100% {
		transform: translateY(0);
	}
}
